
html
{
    width: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
}

div.container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Width is responsive */
}

@media (min-width: 1200px)
{
    div.container
    {
        /* Fixed with container so it can be centered on the page */
        width: 1200px;
    }
}

@media (max-width: 1200px)
{
    div.container
    {
        /* Container must use all space from here */
        width: 100%;
    }
}
