
:root
{
    --swatch-color-white: #ffffff;

    --swatch-color-gray-1: #f3f3f3;
    --swatch-color-gray-2: #d9d9d9;
    --swatch-color-gray-3: #b7b7b7;
    --swatch-color-gray-4: #434343;

    --swatch-color-blue-1: #cfe2f3;
    --swatch-color-blue-2: #9fc5e8;
    --swatch-color-blue-3: #6d9eeb;
    --swatch-color-blue-4: #3d85c6;
    --swatch-color-blue-5: #1c4587;
    --swatch-color-blue-6: #073763;

    --swatch-color-red-1: #cc0000;
    --swatch-color-red-2: #a61c00;

    --swatch-color-yellow: #f1c232;
    
    --font-family-text: 'Poppins', sans-serif;
    --font-family-code: 'Courier New', monospace;

    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    
    --transition-hover-animation: all .2s ease-in-out;
}

/*** LAYOUT ****************************************************/

html
{
    width: 100%;
    max-width: 100%;
    scroll-behavior: smooth;
}

body
{
    /* Align items is responsive */
    background-color: var(--swatch-color-gray-1);
    /* Background image is responsive */
    color: var(--swatch-color-gray-4);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-light);
    font-size: 16px;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

a
{
    color: var(--swatch-color-red-2);
    text-decoration: none;
    transition: var(--transition-hover-animation);
}

a:hover
{
    color: var(--swatch-color-red-1);
}

code
{
    display: block;
    font-family: var(--font-family-code);
    font-size: 0.9em;
    line-height: 1.3em;
    padding: 1.5em;
}

div.container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Width is responsive */
}

/*** HEADER ****************************************************/

header
{
    align-items: stretch;
    /* Background image is responsive */
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 560px;
}

/*** NAVIGATION ************************************************/

nav
{
    align-content: space-around;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 1.6em;
    height: 3.5em;
    justify-content: center;
    padding: 0 1em;
}

nav a.logo
{
    color: var(--swatch-color-white);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 2.0em;
    font-weight: var(--font-weight-semi-bold);
}

nav .menu
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.1em;
    font-weight: var(--font-weight-extra-light);
    gap: 1.6em;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0.35em 0;
}

nav .menu li a
{
    color: var(--swatch-color-white);
}

nav .menu li a:hover
{
    color: var(--swatch-color-blue-1);
}

nav .social
{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.5em;
    gap: 0.5em;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0.1em 0;
}

nav .social li a
{
    color: var(--swatch-color-white);
}

nav .social li a:hover
{
    color: var(--swatch-color-blue-1);
}

/*** HERO ******************************************************/

#hero
{
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 2.2em;
    justify-content: center;
    padding: 0 0 0 4em;
}

#hero :is(h1, p)
{
    margin: 0;
    padding: 0;
}

#hero h1
{
    font-size: 4.3em;
    font-weight: var(--font-weight-bold);
    line-height: 1.1em;
}

#hero span
{
    display: inline-block;
}

#hero .line
{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}

#hero .distributed
{
    color: var(--swatch-color-white);
}

#hero .runtime
{
    color: var(--swatch-color-blue-6);
}

#hero .runtime::before
{
    background-color: var(--swatch-color-blue-4);
    content: '';
    height: 1.1em;
    margin: 0.02em 0 0 -0.28em;
    position: absolute;
    transform: rotate(2.5deg);
    width: 4.9em;
    z-index: -1;
}

#hero .for
{
    color: var(--swatch-color-blue-2);
    font-size: 1.1em;
    font-weight: var(--font-weight-light);
    margin: 1.15em 0.6em 0 1.7em;
    vertical-align: top;
}

#hero .languages
{
    align-items: flex-start;
    background-image: url('../images/hero/scribble.svg');
    background-position: center 2.1em;
    background-repeat: no-repeat;
    background-size: auto 2.5em;
    display: inline-flex;
    flex-direction: row;
    gap: 0.45em;
    height: 4.1em;
    margin: 1em 0 0 0;
    vertical-align: top;
}

#hero .language
{
    border-radius: 0.35em;
    color: var(--swatch-color-blue-5);
    font-size: 1.0em;
    font-weight: var(--font-weight-semi-bold);
    padding: 0.5em 0.3em 0.01em 0.55em;
}

#hero .languages .javascript
{
    background-color: var(--swatch-color-yellow);
}

#hero .languages .typescript
{
    background-color: var(--swatch-color-blue-3);
}

#hero .slogan
{
    color: var(--swatch-color-blue-1);
    font-size: 1.4em;
    font-weight: var(--font-weight-extra-light);
}

#hero .monolithic
{
    text-decoration: underline;
}

#hero .micros
{
    color: var(--swatch-color-yellow);
}

#hero .actions
{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    justify-content: flex-start;
}

#hero .action
{
    border-radius: 3em;
    color: var(--swatch-color-white);
    display: inline-block;
    padding: 0.6em;
    text-align: center;
    text-transform: uppercase;
    width: 12em;
}

#hero .action-primary
{
    background-color: var(--swatch-color-red-2);
    border: 1px solid var(--swatch-color-red-2);
    font-size: 0.9em;
    font-weight: var(--font-weight-normal);
    transition: var(--transition-hover-animation);
}

#hero .action-primary:hover
{
    background-color: var(--swatch-color-red-1);
    border: 1px solid var(--swatch-color-red-1);
}

#hero .action-secondary
{
    background-color: transparent;
    border: 1px solid var(--swatch-color-blue-1);
    font-size: 0.8em;
    font-weight: var(--font-weight-extra-light);
    transition: var(--transition-hover-animation);
}

#hero .action-secondary:hover
{
    background-color: var(--swatch-color-blue-5);
    border: 1px solid var(--swatch-color-white);
}

#hero .icon-github
{
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.6em 0 0;
    vertical-align: middle;
}

/*** MAIN ******************************************************/

main
{
    padding: 4em 2em;
}

main h1
{
    color: var(--swatch-color-blue-6);
    font-size: 1.8em;
    font-weight: var(--font-weight-medium);
    margin: 0 0 0.8em 0;
}

main h1::before
{
    color: var(--swatch-color-gray-3);
    content: "#";
    display: inline-block;
    margin: 0 0.2em 0 0;
}

main hr
{
    border: 0;
    border-top: 1px solid var(--swatch-color-gray-2);
    margin: 4em 0;
}

/*** INTRODUCTION **********************************************/

#introduction
{
    align-items: stretch;
    align-content: space-between;
    display: flex;
    /* Flex direction is responsive */
    flex-wrap: nowrap;
    gap: 1.5em;
    justify-content: space-between;
}

#introduction article
{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
}

#introduction article:nth-child(2)
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#introduction .files
{
    background-color: var(--swatch-color-gray-2);
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.9em;
    overflow-x: hidden;
}

#introduction .filename
{
    cursor: pointer;
    padding: 0.5em 1em;
}

#introduction .filename.selected
{
    background-color: var(--swatch-color-gray-4);
    color: var(--swatch-color-white);
}

#introduction .content
{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

#introduction code
{
    display: none;
    flex-grow: 1;
    flex-shrink: 1;
}

#introduction code.selected
{
    display: block;
}

/*** FEATURES **************************************************/

#features .cards
{
    display: grid;
    /* Grid gap, cols and rows are responsive */
    margin: 2em 0;
    width: 100%;
}

#features .card
{
    align-items: center;
    background-color: var(--swatch-color-white);
    border: 1px solid var(--swatch-color-white);
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0;
    padding: 2.5em 1.5em;
    text-align: center;
}

#features .card img
{
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
}

#features .card h2
{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.3em;
    font-weight: var(--font-weight-medium);
    margin: 0;
}

#features .card p
{
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 0.9em;
    font-weight: var(--font-weight-light);
    margin: 0;
}

#features .card a
{
    background-color: transparent;
    border: 1px solid var(--swatch-color-gray-3);
    border-radius: 2em;
    color: var(--swatch-color-red-2);
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.9em;
    font-weight: var(--font-weight-light);
    padding: 0.5em 0;
    text-align: center;
    width: 12em;
}

#features .card a:hover
{
    background-color: var(--swatch-color-gray-1);
    border: 1px solid var(--swatch-color-gray-3);
    color: var(--swatch-color-red-2);
}

#features .card.inactive
{
    background-color: transparent;
    border: 1px dashed var(--swatch-color-gray-3);
}

#features .card.inactive a
{
    background-color: var(--swatch-color-red-2);
    border: 1px solid var(--swatch-color-red-2);
    color: var(--swatch-color-white);
}

#features .card.inactive a:hover
{
    background-color: var(--swatch-color-red-1);
    border: 1px solid var(--swatch-color-red-1);
    color: var(--swatch-color-white);
}

/*** FOOTER ****************************************************/

footer
{
    background-color: var(--swatch-color-red-2);
    background-image: url('../images/layout/breaker-bottom.svg');
    background-position: center 0;
    background-repeat: repeat-x;
    /* Background size is responsive */
    color: var(--swatch-color-white);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5.0em 0 4.0em 0;
    text-align: center;
    width: 100%;
}

footer a
{
    color: var(--swatch-color-white);
}

footer a:hover
{
    color: var(--swatch-color-white);
}

/*** RESPONSIVE ************************************************/

/*
 *  Extra large (desktop) layout
 */
@media (min-width: 1200px)
{
    body
    {
        /* Center the container on the page with a fixed with */
        align-items: center;

        /* Add both the header and the breaker images to the background */
        background-image: url('../images/layout/breaker-top.svg'), url('../images/layout/header.svg');
        background-repeat: repeat-x, repeat-x;
        background-position: center 470px, left top;
        background-size: auto 90px, 1264px auto;
    }

    div.container
    {
        /* Fixed with container so it can be centeren on the page */
        width: 1200px;
    }

    header
    {
        /* Add the illustration to the header, with the breaker on top */
        background-image: url('../images/layout/breaker-top.svg'), url('../images/hero/illustration.svg');
        background-position: center 470px, 612px 50px;
        background-repeat: repeat-x, no-repeat;
        background-size: auto 90px, auto 510px;
    }

    #introduction
    {
        /* Place the introduction text and code in a row */
        flex-direction: row;
    }

    #features .cards
    {
        /* Place feature cards in four columns */
        gap: 2em;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
    }

    footer
    {
        background-size: auto 90px;
    }
}

/*
 *  Large (tablet) layout
 */
@media (max-width: 1200px)
{
    body
    {
        /* We don't have enough space to center the container, so start left from here */
        align-items: flex-start;

        /* Remove the breaker from the brackground (the breaker from the header is used from here) */
        background-image: url('../images/layout/header.svg');
        background-repeat: repeat-x;
        background-position: left top;
        background-size: 1264px auto;
    }

    div.container
    {
        /* Container must use all space from here */
        width: 100%;
    }

    header
    {
        /* Add the illustration to the header, with the breaker on top */
        background-image: url('../images/layout/breaker-top.svg'), url('../images/hero/illustration.svg');
        background-position: center bottom, 612px 50px;
        background-repeat: repeat-x, no-repeat;
        background-size: auto 90px, auto 510px;
    }

    main hr
    {
        /* Hide the (useless) ruler and use it as a spacer */
        border: 0px;
        margin: 2em 0;
    }

    #introduction
    {
        /* Place the introduction text and code below eachother */
        flex-direction: column;
    }

    #features .cards
    {
        /* Place feature cards in three columns */
        gap: 2vw;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
}

/*
 *  Medium (table / phone) layout
 */
@media (max-width: 795px)
{
    header
    {
        /* Replace the illustration with the stars */
        background-image: url('../images/layout/breaker-top.svg'), url('../images/hero/stars.svg');
        background-position: center bottom, right -30px top 100px;
        background-repeat: repeat-x, no-repeat;
        background-size: auto 90px, auto 200px;
    }

    #features .cards
    {
        /* Place feature cards in two columns */
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }

    footer
    {
        /* Make the header dynamic in width */
        background-size: auto 12vw;
    }
}

/*
 *  Small (phone) layout
 */
@media (max-width: 560px)
{
    body
    {
        /* Make the background image dynamic in height */
        background-size: auto 100vw;
    }

    header
    {
        /* Make the header dynamic in height */
        height: 100vw;

        /* Remove the stars from the header */
        background-image: url('../images/layout/breaker-top.svg');
        background-position: center bottom;
        background-repeat: repeat-x;
        background-size: auto 12vw;
    }

    nav
    {
        /* Improve the visual hierarchy of the navigation */
        font-size: 0.8em;
    }

    nav .menu li
    {
        /* Hide the menu items */
        display: none;
    }

    #hero
    {
        /* Center and scale the hero section to fit the view */
        align-items: center;
        padding: 0;
        font-size: 3vw;
    }

    main
    {
        /* Use less padding to save space */
        padding: 2em 1.2em;
    }

    main hr
    {
        /* use less ruler spacing */
        margin: 1.5em 0;
    }

    #introduction article:nth-child(2)
    {
        /* Use 100% of the screen with for the code */
        margin: 0 -1.2em;
    }

    #features .cards
    {
        /* Improve the readability */
        font-size: 1.1em;
        
        /* Place feature cards in a single column */
        gap: 1em;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }

    #features .card
    {
        /* Improve the spacing and readability */
        gap: 2.0em;
        padding: 2.0em 2.5em;
    }

    footer
    {
        /* Make the background image dynamic in height */
        background-size: auto 12vw;
    }
}
