:root
{
  --color-white: #cccccc;
  --color-black: #434343;
  --color-yellow: #f1c232;
  --color-green: #7ec699;
  --color-purple: #cc99cd;
  --color-blue: #afb6f5;
  --color-orange: #f08d49;
  --color-red: #e2777a;

  --syntax-background-color: var(--color-black);
  --syntax-default-color: var(--color-white);
  --syntax-keyword-color: var(--color-orange);
  --syntax-function-color: var(--syntax-keyword-color);
  --syntax-variable-color: var(--color-white);
  --syntax-type-color: var(--color-orange);
  --syntax-string-color: var(--color-purple);
  --syntax-comment-color: var(--color-green);
  --syntax-group-color: var(--color-white);
  --syntax-oprator-color: var(--color-white);
  --syntax-object-key-color: var(--color-white);
  --syntax-json-key-color: var(--syntax-keyword-color);
  --syntax-option-color: var(--color-red);
}

.highlight
{
  background-color: var(--syntax-background-color);
  color: var(--syntax-default-color);
}

.highlight .c1
{
  color: var(--syntax-comment-color);
}

.highlight .na
{
  color: var(--syntax-object-key-color);
}

.highlight .nl
{
  color: var(--syntax-json-key-color);
}

.highlight .o
{
  color: var(--syntax-oprator-color);
}

.highlight .p
{
  color: var(--syntax-group-color);
}

.highlight .k
{
  color: var(--syntax-keyword-color);
}

.highlight .kr
{
  color: var(--syntax-type-color);
}

.highlight .kd
{
  color: var(--syntax-function-color);
}

.highlight .s1, .highlight .s2, .highlight .dl
{
  color: var(--syntax-string-color);
}

.highlight .nx
{
  color: var(--syntax-variable-color);
}

.highlight .nf, .highlight .na
{
  color: var(--syntax-function-color);
}

.highlight .nt
{
  color: var(--syntax-option-color);
}
