
footer
{
    background-color: var(--swatch-color-red-3);
    background-image: url('../../images/layout/breaker-bottom.svg');
    background-position: center 0;
    background-repeat: repeat-x;
    /* Background size is responsive */
    color: var(--swatch-color-white);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5.0em 0 4.0em 0;
    text-align: center;
    width: 100%;
}

footer a
{
    color: var(--swatch-color-white);
}

footer a:hover
{
    color: var(--swatch-color-white);
}

/*
 *  Large (tablet) layout
 */
@media (min-width: 1200px)
{
    footer
    {
        background-size: auto 90px;
    }
}

/*
 *  Large (tablet) layout
 */
@media (max-width: 1200px)
{
    
}

/*
 *  Medium (table / phone) layout
 */
@media (max-width: 795px)
{
    footer
    {
        /* Make the footer dynamic in width */
        background-size: auto 12vw;
    }
}

/*
 *  Small (phone) layout
 */
@media (max-width: 560px)
{
    footer
    {
        /* Make the background image dynamic in height */
        background-size: auto 12vw;
    }
}
