
#introduction .explainer
{
    align-content: stretch;
    align-items: stretch;
    display: flex;
    width: 100%;
}

#introduction .explainer .part
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

#introduction .explainer .title
{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.1em;
    font-weight: var(--font-weight-medium);
}

#introduction .explainer .content
{
    flex-grow: 1;
    flex-shrink: 1;
}

#introduction .explainer .client,
#introduction .explainer .server
{
    flex-grow: 1;
    flex-shrink: 1;
}

#introduction .explainer .jitar
{
    flex-grow: 0;
    flex-shrink: 0;
}

#introduction .explainer .jitar .title
{
    background-color: var(--swatch-color-blue-5);
    color: var(--swatch-color-white);
}

#introduction .explainer .jitar .flow
{
    background-repeat: no-repeat;
}

/*
 *  Large (tablet) layout
 */
@media (min-width: 1200px)
{
    #introduction .explainer
    {
        /* Place the introduction text and code in a row */
        flex-direction: row;
    }

    #introduction .explainer .part
    {
        flex-direction: column;
    }

    #introduction .explainer .title
    {
        padding: 0.5em 2em;
    }

    #introduction .explainer .client,
    #introduction .explainer .server
    {
        padding-top: 16px;
    }

    #introduction .explainer .jitar
    {
        width: 190px;
    }

    #introduction .explainer .jitar .title
    {
        margin: 0 30px;
    }

    #introduction .explainer .jitar .flow
    {
        background-image: url('../../images/introduction/flow-vertical.svg');
        background-position: center top;
        background-size: 190px 160px;
    }
}

/*
 *  Large (tablet) layout
 */
@media (max-width: 1200px)
{
    #introduction .explainer
    {
        /* Place the introduction text and code below each other */
        flex-direction: column;
    }

    #introduction .explainer .part
    {
        flex-direction: row;
    }

    #introduction .explainer .title
    {
        writing-mode: vertical-lr;
        padding: 2em 0.5em;
    }

    #introduction .explainer .jitar
    {
        height: 110px;
    }

    #introduction .explainer .jitar .flow
    {
        background-image: url('../../images/introduction/flow-horizontal.svg');
        background-position: left top;
        background-size: 1170px 110px;
    }
}

/*
 *  Medium (table / phone) layout
 */
@media (max-width: 795px)
{
    
}

/*
 *  Small (phone) layout
 */
@media (max-width: 560px)
{
    
}
