
.cards
{
    display: grid;
    /* Grid gap, cols and rows are responsive */
    margin: 2em 0;
    width: 100%;
}

.card
{
    background-color: var(--swatch-color-white);
    margin: 0;
}

.cards-horizontal .card
{
    border-left: 0.5em solid var(--swatch-color-red-3);
    display: grid;
    gap: 1em;
    grid-template-columns: 4em auto;
    grid-template-rows: auto auto;
    padding: 1.7em 1.0em;
    text-align: left;
}

.cards-vertical .card
{
    align-items: center;
    border: 1px solid var(--swatch-color-white);
    border-top: 0.5em solid var(--swatch-color-red-3);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2.0em 1.0em;
    text-align: center;
}

.cards-horizontal .card img
{
    grid-row: span 2;
    width: 100%;
}

.cards-vertical .card img
{
    flex-grow: 0;
    flex-shrink: 0;
    width: 5em;
}

.card h3
{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.3em;
    font-weight: var(--font-weight-medium);
    margin: 0;
}

.card p
{
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.0em;
    font-weight: var(--font-weight-light);
    margin: 0;
}

.card .button
{
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5em 0;
    width: 12em;
}

.card.inactive
{
    background-color: transparent;
    border: 1px dashed var(--swatch-color-gray-3);
}

.cards-horizontal .card.inactive
{
    border-left: 0.5em solid var(--swatch-color-gray-3);
}

.cards-vertical .card.inactive
{
    border-top: 0.5em solid var(--swatch-color-gray-3);
}

@media (min-width: 1200px)
{
    .cards
    {
        gap: 2em;
    }

    .cards-horizontal
    {
        /* Three columns */
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto;
    }

    .cards-vertical
    {
        /* Four columns */
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto auto;
    }
}

@media (max-width: 1200px)
{
    .cards
    {
        gap: 2vw;
        grid-template-rows: auto;
    }

    .cards-horizontal
    {
        /* Two columns */
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .cards-vertical
    {
        /* Three columns */
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media (max-width: 795px)
{
    .cards-horizontal
    {
        /* One column */
        grid-template-columns: minmax(0, 1fr);
    }

    .cards-vertical
    {
        /* Two columns */
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
}

@media (max-width: 560px)
{
    .cards
    {
        grid-template-columns: auto;
    }

    .card
    {
        /* Improve the spacing and readability */
        gap: 2.0em;
        padding: 2.0em 2.5em;
    }
}
