
.explainer
{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.explainer .parts
{
    align-content: stretch;
    align-items: stretch;
    display: flex;
    /* Flex direction is responsive */
    width: 100%;
}

.explainer .parts .part
{
    align-content: stretch;
    align-items: stretch;
    display: flex;
    /* Flex direction is responsive */
}

.explainer .parts .title
{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.1em;
    font-weight: var(--font-weight-medium);
    /* Padding is responsive */
}

.explainer .parts .content
{
    flex-grow: 1;
    flex-shrink: 1;
}

.explainer .parts .client,
.explainer .parts .server
{
    flex-grow: 1;
    flex-shrink: 1;
}

.explainer .parts .jitar
{
    flex-grow: 0;
    flex-shrink: 0;
    /* Size is responsive */
}

.explainer .parts .jitar .title
{
    background-color: var(--swatch-color-blue-5);
    color: var(--swatch-color-white);
}

.explainer .parts .jitar .flow
{
    /* Background image is responsive */
    background-repeat: no-repeat;
}

@media (min-width: 1100px)
{
    .explainer .parts
    {
        flex-direction: row;
    }

    .explainer .parts .part
    {
        flex-direction: column;
    }

    .explainer .parts .title
    {
        padding: 0.5em 2em;
    }

    .explainer .parts .client,
    .explainer .parts .server
    {
        padding-top: 16px;
    }

    .explainer .parts .jitar
    {
        width: 190px;
    }

    .explainer .parts .jitar .title
    {
        margin: 0 30px;
    }

    .explainer .parts .jitar .flow
    {
        background-image: url('../../images/introduction/flow-vertical.svg');
        background-position: center top;
        background-size: 190px 160px;
    }
}

@media (max-width: 1100px)
{
    .explainer .parts
    {
        flex-direction: column;
        width: 650px;
    }

    .explainer .parts .part
    {
        flex-direction: row;
    }

    .explainer .parts .title
    {
        writing-mode: vertical-lr;
        padding: 2em 0.5em;
    }

    .explainer .parts .jitar
    {
        height: 110px;
    }

    .explainer .parts .jitar .flow
    {
        background-image: url('../../images/introduction/flow-horizontal.svg');
        background-position: left top;
        background-size: 1170px 110px;
    }
}

@media (max-width: 650px)
{
    .explainer .parts
    {
        width: 100%;
    }
}

@media (max-width: 560px)
{
    .explainer
    {
        margin: 0 -1.2em;
    }
}
