name: Node.js CI

on:
  push:
    branches: [ main ]
    paths:
      - 'packages/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'packages/**'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'
        
      - run: npm ci
      - run: npm run review